@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Plantilla.cshtml";
}

@section textoParrafo{
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
}

@{
    int numero = 123;
    string nombre = "nombre";
}

<p> @numero </p>

@if (numero > 100)
{
    <h3>El numero es mayor a 100</h3>
}
else
{
    <h3>El numero no es mayor a 100</h3>
}